@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
* {
    margin: 0;
    padding: 0;
}

.box {
   
    border: none;
    background: #ffffff;
    font-size: 50px;
    content: none;
    color: #000000;
    font-family: "Caveat", cursive;
}

.container {
    height: 30vmax;
    width: 30vw;
    background: #000000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 40px;
    /* background: #000; */
 

}
.reset-btn{
    margin-top:  48px;
    background: rgba(199, 199, 199, 0.219);
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    font-family: "Caveat", cursive;
}
.winnerMsg{
    font-family: "Caveat", cursive;
    
}
.hide{
    display: none;
}